body {
    color: whitesmoke
    background-color: lightgrey;
    text-align: center;
}

img {
    width: 25%;
}
<body> <style="background-image:url(https://www.fiftyflowers.com/site_files/FiftyFlowers/Image/Product/Mini-Black-Eye-bloom-500_c8836b7e.jpg)">.
}
</body>